.home-container {
    height: 100vh;
    width: 100%;
    padding: 0 15%;

    .intro {
        display: grid;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 1fr max-content;
        // margin-top:120px;
    }

    .main-down-arrow {
        grid-column: span 2;
        width: 30px;
        margin: 10px auto;
        cursor: pointer;
        position: relative;
        z-index: 1;
    }

    .text-content {
        transform-origin: left;
        transform: scale(0.9);
        margin: auto;
    }

    .svg-content {
        width: 100%;
        height: max-content;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .dsc-logo {
        width: 50px;
        height: 50px;

    }

    .text-content {
        span {

            align-items: center;
            display: flex;
        }

        h2 {
            margin: 10px 0;
        }

        p {
            padding: 0px;
            margin: 0px;
            padding-bottom: 15px;
            line-height: 4vh;
            letter-spacing: 0.07em;
            font-weight: 200;

            span {
                font-weight: 600;
            }
        }
    }

    .heading {
        font-weight: 200;
    }


    .icon {
        top: 900px;
        display: none;

        img {
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            position: relative;
            height: 50px;
            width: 50px;
        }
    }

    @media screen and (max-width: 1400px) {
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }

    @media screen and (max-width: 1024px) {
        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 23px;
        }
        
        p {
            font-size: 15px;
        }
    }

    @media screen and (max-width: 767px) {
        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 20px;
        }

        & {
            .intro {
                text-align: center;
                margin: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .text-content span {
                justify-content: center;
            }

            .text-content,
            .svg-content {
                padding: 0;
                top: 0;
                transform: none;
            }

            .text-content {
                transform: none;
                margin: 0;
            }
        }
    }

    @media screen and (max-width: 480px) {
        h1 {
            font-size: 35px;
        }

        h2 {
            font-size: 18px;
        }

        & .dsc-logo {
            width: 40px;
            height: 40px;

        }

        & .main-down-arrow {
            width: 20px;
        }

        & {
            .svg-content {
                margin-bottom: 30px;
            }
        }

        p {
            font-size: small;
        }
    }

    @media screen and (max-width: 360px) {
        h1 {
            font-size: 25px;
        }

        h2 {
            font-size: 16px;
        }

        .dsc-logo {
            width: 40px;
            height: 40px;

        }

        p {
            font-size: small;
        }
    }
}
.cp-circle {
    clip-path: circle(50% at 50% 50%);
  }
  .wide-cont-wrap {
    margin: 0 auto;
  }
  
  @media all and (min-width: 768px) {
    .wide-cont-wrap {
      width: 70%;
    }
  }
  @media all and (min-width: 1265px) {
    .wide-cont-wrap {
      width: 70%;
    }
  }
  
  #team {
    padding: 25px 0;
  }
  #team h1 {
    color: #000;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  @media all and (min-width: 768px) {
    #team h1 {
      font-size: 40px;
    }
  }
  @media all and (min-width: 1265px) {
    #team h1 {
      font-size: 50px;
    }
  }
  #center-text
  {
    text-align: center;
  }
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    width: 100%;
  }
  .team-cards h2 {
    color: grey;
    font-size: 1.5rem;
    margin: 0;
  }
  .team-cards p {
    margin: 8px;
    text-align: center;
  }
  
  .tm-container {
    align-self: center;
    padding: 20px;
    text-align: center;
  }
  .tm-container img {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.95);
    width: 150px;
    margin-bottom: 10px; 
    object-fit: cover;
  }
  @media all and (max-width:768px) {
      .wide-cont-wrap {
      width: 50%;
    }
    .tm-container img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
  }
  @media all and (min-width: 768px) {
    .tm-container {
      margin: 20px;
    }
    .tm-container img{
      width: 100px;
      height: 100px;
      object-fit: cover;
  }
  }
  @media all and (min-width: 1200px) {
    .tm-container {
      margin: 30px;
    }
    .tm-container img{
        width:150px;
        height: 150px;
        object-fit: cover;
    }
  }
  
  
  ul {
    margin-top:10px;
    padding:0;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:20px;
    height:20px;
    display:block;
    text-align:center;
    margin:0 10px;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    transition: .5s;
  }
  
  ul li a:hover {
    text-decoration:none;
  }
  
  ul li a .fa {
    width: 100%;
    height:100%;
    display:block;
    font-size:20px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fa-facebook {
    color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fa {
    color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fa-github {
    color: #000;
  }
  
  ul li:nth-child(4) a:hover .fa {
    color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fa {
    color: #e4405f;
  }
.img-team
{
  height: 100%;
  width: 100%;
  position: relative;;
}