body {
    background-color: #282A36;
    color: #fff;
}

nav {
    background: #20222b;
    border-right: 1px solid #3e4046;
}

.side-nav {
    background-color: #20222b;
    border-right: 1px solid #3e4046;
}

.btn {
    color: #dfdedb;
    background-color: #20222b;
}

.active,
.dark {
    font-size: 18px;
    color: #000;
    background-color: #4285F4;
}

nav .buttons {
    border-top: 1px solid #3e4046;
}

.logo-img {
    background-image: url('../images/logo-black.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #20222b;
    background-image: url('../images/dark-header-background.png');
}

#logo-main {
    height: 60px;
    position: absolute;
    top: 45px;
    left: 120px;
}

.button {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.014) 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#about {
    background-color: #282A36;
}

.sub-text {
    color: #56d899;
}