body {
    background-color: #282A36;
    color: #fff;
}

nav {
    background: #20222b;
    border-right: 1px solid #3e4046;
}

.side-nav {
    background-color: #20222b;
    border-right: 1px solid #3e4046;
}

.btn {
    color: #dfdedb;
    background-color: #20222b;
}

.active,
.dark {
    font-size: 18px;
    color: #000;
    background-color: #4285F4;
}

nav .buttons {
    border-top: 1px solid #3e4046;
}

.logo-img {
    background-image: url('../images/logo-black.png');
    background-size: cover;
    background-position: center;
}

header {
    background-image: url('../images/dark-header-background.png');
}

#logo-main {
    height: 60px;
    position: absolute;
    top: 45px;
    left: 120px;
}