body {
    background-color: #FFF;
    color: #202124;
}

nav {
    background: #F8F8FA;
    border-right: 1px solid #e4e4ec;
}

.side-nav {
    background-color: #F8F8FA;
    border-right: 1px solid #e4e4ec;
}

.btn {
    color: #6C7D8B;
    background-color: #F8F8FA;
}

.active, .light {
    font-size: 18px;
    color: #FFF;
    background-color: #4285F4;
}

nav .buttons {
    border-top: 1px solid #e4e4ec;
}

.logo-img {
    background-image: url('../images/logo-dsc.png');
    background-size: cover;
    background-position: center;
}

.button {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}
