* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    min-height: 650px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

a, a:active, a:hover, a:visited {
    text-decoration: none;
}

/*  REUSABLE COMPONENTS  */

.btn {
    --ionicon-stroke-width: 36px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border-radius: 17px;
}

.button {
    color: #FFF;
    background-color: #346df1;
    position: relative;
    padding: 12px 30px;
    border-radius: 2px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    width: max-content;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.hero-text,
.sub-text {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 10px;
}

.sub-text {
    font-size: 1.3rem;
}

.short-text {
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 20px;
}

.flex-2 {
    width: 47.5%;
    margin: 0 1%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.content-image {
    width: 80%;
    margin: auto;
}

/*  SIDE NAV  */

nav {
    height: 100%;
    min-height: 650px;
    width: 60px;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
}

nav:hover {
    width: 250px;
    overflow: visible;
}

.side-nav {
    height: 100%;
    width: 60px;
    overflow: visible;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    transition: ease .5s delay-overflow;
}

.side-nav:hover {
    transition: ease .5s;
}

nav .buttons {
    width: 250px;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav .wrapper {
    margin: 5px auto;
    width: 250px;
    display: flex;
    align-items: center;
}

nav button {
    width: 60px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text {
    width: 140px;
    line-height: 24px;
    padding: 5px 0px;
    margin-left: 30px;
    border-radius: 3px;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-start {
    margin-top: 60px !important;
}

/*  HEADER  */

header {
    min-height: 676px;
    background-image: url('../images/header-background.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-main {
    height: 150px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.content {
    text-align: center;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    font-size: 46px;
    line-height: 1.2;
    padding: 10px 50px;
}

.content h3 {
    line-height: 28px;
    padding: 30px 20px 50px 20px;
    font-size: 20px !important;
    text-transform: none !important;
    font-weight: normal !important;
}

.content .button {
    margin-top: 40px;
}

/*  HOME PAGE  */

#about {
    box-shadow:0 -10px 20px 0px rgba(0, 0, 0, 0.12);
}

#about .button {
    padding: 8px 20px;
}

#about .sub-text {
    color: #DB4437;
}

#activities .sub-text {
    color: #0F9D58;
}

#team .sub-text {
    color: #f4b400;
}

#partners .sub-text {
    color: #4285f4;
}

#partners .container{
    flex-direction: column;
    text-align: center;
}
