* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    min-height: 650px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

nav {
    height:100%;
    min-height: 650px;
    width: 60px;
    z-index:1000;
    top:0;
    left:0;
    overflow:hidden;
    position:absolute;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    transform:translateZ(0) scale(1,1);
}

nav:hover {
    width:250px;
    overflow:visible;
}

.side-nav {
    height: 100%;
    width: 60px;
    overflow: visible;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
}

nav .buttons {
    width: 250px;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav .wrapper {
    margin: 5px auto;
    width: 250px;
    display: flex;
    align-items: center;
}

nav button {
    width: 60px;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text {
    width: 140px;
    line-height: 24px;
    padding: 5px 0px;
    margin-left: 30px;
    border-radius: 3px;
}

.btn {
    --ionicon-stroke-width: 36px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 6px;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-start {
    margin-top: 60px !important;
}